<div class=container>
    <div class="navbar">
        <img class="img-logo-navbar" src="./assets/images/logo.png" alt="Logo de la empresa">
        <p-menubar [model]="items"></p-menubar>
    </div>

    <section class="first-section-home">
        <div class="slides slide-1">
            <div class="logo-slide">
                <a href="#">
                    <img class="logo-slide-img" src="./assets/images/UltraFibra.png">
                </a>
            </div>
        </div>
        <div class="slides slide-2">
            <div class="logo-slide">
                <a href="#">
                    <img class="logo-slide-img" src="./assets/images/UltraFibra.png">
                </a>
            </div>
        </div>
        <div class="slides slide-3">
            <div class="logo-slide">
                <a href="#">
                    <img class="logo-slide-img" src="./assets/images/UltraFibra.png">
                </a>
            </div>
        </div>
        <div class="slides slide-4">
            <div class="logo-slide">
                <a href="#">
                    <img class="logo-slide-img" src="./assets/images/UltraFibra.png">
                </a>
            </div>
        </div>
    </section>

    <app-section2></app-section2>

    <app-section3></app-section3>

    <app-section4></app-section4>


    <section class="section-footer">
        <div class="footer">
            <div class="abstracto uno"></div>
            <div class="abstracto dos"></div>
            <div class="copy">
                <div class="empresa">
                    <div class="container-info">
                        <h2>UltraFibra</h2>
                        <p>Casa Central: Calle Bs. AS. 433</p>
                        <p>Oliveros - Santa Fe</p>
                        <b>contacto@ultra.net.ar</b>
                        <p>0810-112-7700</p>
                    </div>
                </div>
                <div class="redes">
                    <div class="container-redes">
                        <p-button icon="pi pi-instagram" [rounded]="true" severity="warning"
                            [outlined]="true"></p-button>
                        <p-button icon="pi pi-facebook" [rounded]="true" severity="warning"
                            [outlined]="true"></p-button>
                        <p-button icon="pi pi-youtube" [rounded]="true" severity="warning" [outlined]="true"></p-button>
                    </div>
                </div>
                <div class="logo-footer">
                    <img class="imagen-footer" src="./assets/images/logo.png" alt="Logo de la empresa">
                </div>
            </div>
        </div>
        <div class="footer-foot">
            <div><b>Desarrollado Por:</b> Lorenzatti Nazareno</div>
            <b>Copyright © Megalink S.R.L.</b>
        </div>
    </section>

</div>